<%
  breadcrumb = {'Home': root_url, 'Manage Software Version' => software_versions_url }
  btn_hash = {}
  btn = []
  btn_hash = btn_hash.merge({name: 'Add New Version', url: new_software_version_url, class: 'btn btn-primary btn-sm float-right'}) if Current.user.is_admin?
  btn << btn_hash if btn_hash.present?
%>
<%= render partial: 'common/breadcrumb', locals: {heading: 'Manage Autoium Version', breadcrumb: breadcrumb, action_btns: btn} %>

<section class="section min-vh-100">
  <%= render partial: 'layouts/flash_message' %>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- Table with stripped rows -->
            <%= render partial: 'software_versions/version_content'  %>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>