<%
  breadcrumb = { 'Home': root_url, 'Manage Settings' => users_settings_path }
  btn = []
%>
<%= render partial: 'common/breadcrumb', locals: { heading: 'Manage Settings', breadcrumb: breadcrumb, action_btns: btn } %>

<section class="section min-vh-100">
  <%= render partial: 'layouts/flash_message' %>

  <%= render partial: 'users/user_prefrence_project_environment_frm' %>
</section>