<div class="card">
  <!--        <div class="filter">-->
  <!--          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
  <!--          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
  <!--            <li class="dropdown-header text-start">-->
  <!--              <h6>Filter</h6>-->
  <!--            </li>-->

  <!--            <li><a class="dropdown-item" href="#">Today</a></li>-->
  <!--            <li><a class="dropdown-item" href="#">This Month</a></li>-->
  <!--            <li><a class="dropdown-item" href="#">This Year</a></li>-->
  <!--          </ul>-->
  <!--        </div>-->

  <div class="card-body pb-0">
    <h5 class="card-title">Suite Type</h5>

    <div id="suiteType"></div>

    <script>
        //document.addEventListener("DOMContentLoaded", () => {
        var chart = new ApexCharts(document.querySelector("#suiteType"), {
                series: [{
                    data: [<%= @manual_test_suites.count %>, <%= @automate_test_suites.count %>]
                }],
                chart: {
                    type: 'bar',
                    height: 250
                },
                plotOptions: {
                    bar: {
                        borderRadius: 4,
                        horizontal: false,
                    }
                },
                dataLabels: {
                    enabled: true,
                },

                xaxis: {
                    categories: ['Manual', 'Automate'],
                }
            }).render();
        //});
    </script>

  </div>
</div>