<%
  breadcrumb = { 'Home': root_url, 'Privacy Policy' => privacy_policy_path }
  btn = []
%>
<%= render partial: 'common/breadcrumb', locals: { heading: 'Autoium - Privacy Policy', breadcrumb: breadcrumb, action_btns: btn } %>

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
        <div class="card">

          <div class="card-body">
            <p>Resource Stack, Inc.&nbsp;(including its subsidiaries) respects your privacy and we are committed to
              protecting it through our compliance with this privacy policy (the &ldquo;Policy&rdquo;) in connection
              with the online websites, applications and services (the &ldquo;Services&rdquo;) that we operate. This
              Policy also applies to theChronStack&nbsp;Tester&nbsp;subsidiaries.&nbsp;</p>
            <p>Our Services include our websites, applications and other services that link to this Policy. This Policy
              describes the types of information we may collect from you or that you may provide when you use our
              Services, as well as our practices for collecting, using, maintaining, protecting and disclosing that
              information.</p>
            <p>This Policy applies to information we collect:</p>
            <ul>
              <li>When you use or interact with our Services.</li>
              <li>In your email, text, and other electronic messages with us.</li>
              <li>Through our mobile and desktop websites and applications.</li>
            </ul>
            <p>Please read this Policy carefully to understand our policies and practices regarding your information and
              how we use it and how we will treat it. If you do not agree with our policies and practices, your choice
              is not to use our Services. By accessing or using our Services, you agree to accept the terms and
              conditions set forth in this Policy. This Policy may change from time to time. Your continued use of our
              Services after we make changes is deemed to be acceptance of those changes, so please check the Policy
              periodically for updates.</p>
            <p class="text-theme"><strong> EU-US PRIVACY SHIELD AND SWISS-US PRIVACY SHIELD </strong></p>
            <p>Resource Stack, Inc, and the&nbsp;Chronstack&nbsp;Tester&nbsp;comply with the EU-US Privacy Shield
              Framework (the &ldquo;EU-US Privacy Shield&rdquo;) and the Swiss-US Privacy Shield Framework (the &ldquo;Swiss-US
              Privacy Shield&rdquo;) as set forth by the U.S. Department of Commerce regarding the collection, use, and
              retention of personal information from European Union member countries and Switzerland.&nbsp;ChronStack&nbsp;Tester&nbsp;has
              certified that it adheres to the Privacy Shield Principles of Notice, Choice, Accountability for Onward
              Transfer, Security, Data Integrity and Purpose Limitation, Access, and Recourse, Enforcement and Liability
              (the &ldquo;Privacy Shield Principles&rdquo;). If there is any conflict between the policies set forth in
              this Policy and the Privacy Shield Principles, the Privacy Shield Principles shall govern or prevail.</p>
            <p>To learn more about the Privacy Shield program, and to view our certification page, please
              visit <a href="https://www.privacyshield.gov/"> https://www.privacyshield.gov/ </a></p>
            <p>Chronstack&nbsp;Tester&nbsp;is subject to the investigatory and enforcement powers of the Federal Trade
              Commission (the &ldquo;FTC&rdquo;). Furthermore, with regards to any human resources related data that may
              be transferred from the EU to the U.S. in connection with or in the context of any employment relationship
              with a EU-based employee,&nbsp;ChronStack&nbsp;Tester&nbsp;is committed to co-operating with EU data
              protection&nbsp;authorities (or DPAs) in the relevant country regarding any such EU-based employee and
              comply with the advice provided by such DPAs in connection with the foregoing.</p>
            <p class="text-theme"><strong> CHILDREN UNDER THE AGE OF 13 </strong></p>
            <p>Our Services are not intended for use by children under 13 years of age. No one under age 13 may provide
              any information to or through our Services. We do not knowingly collect personal information from children
              under 13 and do not target our Services to children under the age of 13. If you are under 13, do not use
              or provide any information through our Services. If we learn we have collected or received personal
              information from a child under the age of 13 without verification of parental consent, we will delete that
              information. If you believe we might have any information from or about a child under the age of 13,
              please contact us at:</p>
            <p>Attn: Privacy Officer&nbsp; <br/> 626 Grant Street, #D &nbsp; <br/>Herndon, VA 20170</p>

            <p class="text-theme"><strong>INFORMATION WE COLLECT ABOUT YOU AND HOW WE COLLECT IT</strong></p>
            <p>We collect several types of information from and about users of our Services, including information:</p>
            <ul>
              <li>by which you may be personally identified, such as name, postal address, e-mail address, telephone
                number, or any other identifier by which you may be contacted online or offline (&ldquo;personal
                information&rdquo;);
              </li>
              <li>that is about you but individually does not identify you, such as your IP address, referral data, and
                browser and platform type; and/or
              </li>
            </ul>
            <ul>
              <li>about your internet connection, the equipment you use to access our Services and usage details.</li>
            </ul>
            <p>We collect this information:</p>
            <ul>
              <li>Directly from you when you provide it to us.</li>
              <li>Automatically as you use our Services. Information collected automatically may include usage details,
                IP addresses, and information collected through cookies, web beacons,&nbsp;pixels&nbsp;and other
                tracking technologies.
              </li>
              <li>From third parties, for example, our business partners and commercial vendors that we use to implement
                or provide our Services.
              </li>
            </ul>
            <p class="text-theme"><strong> Information You Provide to Us </strong></p>
            <p>The information we collect through our Services may include:</p>
            <p>Information that you provide by filling in forms through our Services. This includes information provided
              at the time of registering to use our Services, subscribing to our Services, posting material, or
              requesting further services. We may also ask you for information when you report a problem with our
              Services.</p>
            <p>Information that you provide us also includes records and copies of your correspondence (including email
              addresses from which any correspondence is received), if you contact us.</p>
            <p class="text-theme">
              <strong> Information We Collect Through Automatic Data Collection or Tracking Technologies </strong></p>
            <p>As you use our Services, we may use automatic data collection or tracking technologies to collect certain
              information about your equipment, browsing actions, and patterns, including:</p>
            <ul>
              <li>Details of your use of our Services, including traffic data, referral data, location data, logs, and
                other communication data and the resources that you use (or information that you retrieve) on our
                Services.
              </li>
              <li>Information about your computer or other device and internet connection, including your IP address,
                operating system, and browser type.
              </li>
            </ul>
            <p>We also may use these technologies to collect information about your online activities over time and
              across third-party websites or other online services (e.g. behavioral tracking).</p>
            <p>The information we collect automatically is statistical data and does not include personal information,
              but we may maintain it or associate it with personal information we collect in other ways or receive from
              third parties. It helps us to improve our Services and to deliver a better and more personalized service
              to our users.</p>
            <p>The technologies we use for this automatic data collection may include:</p>
            <ul>
              <li><strong class="text-theme"> Cookies (or browser cookies) </strong>. A cookie is a small file placed on
                the hard drive of
                your computer. You may refuse to accept browser cookies by activating the appropriate setting(s) on your
                browser. However, if you select this setting you may be unable to access certain parts of our Services.
                Unless you have adjusted your browser setting(s) so that it will refuse to accept cookies, our system(s)
                and technologies will issue cookies when you direct your browser to our Services.
              </li>
              <li><strong class="text-theme"> Flash Cookies </strong>. Certain features of our Services may use local
                stored objects
                (or &ldquo;flash cookies&rdquo;) to collect and store information about your preferences and navigation
                to, from, and on our Services. Flash cookies are not managed by the same browser setting(s) as are used
                for browser cookies.
              </li>
              <li><strong class="text-theme"> Web Beacons </strong>. Portions of our Services may contain small
                electronic files known as
                web beacons (sometimes also referred to as clear gifs, pixel tags, and single-pixel gifs) that allow us,
                for example, to count users who have visited pages and for other related website statistics (for
                example, recording the popularity of certain website content and verifying system and server integrity).
              </li>
            </ul>
            <p>We do not collect personal information automatically, but we may tie this information to personal
              information about you that we collect or receive from other third-party sources or you provide to us.</p>
            <p><strong class="text-theme"> Third-Party Use of Cookies and Other Tracking Technologies </strong>&nbsp;
              <br/>Some content or applications, including advertisements, on our Services are served or provided by&nbsp;third-parties,
              including advertisers, ad networks and servers, content providers, and application providers. These&nbsp;third-parties&nbsp;may
              use cookies alone or in conjunction with web beacons or other tracking&nbsp;technologies to collect
              information about you when you use our Services. The information they collect may be associated with your
              personal information or they may collect information, including personal information, about your online
              activities over time and across different websites and other online services. They may use this
              information to provide you with interest-based (behavioral or retargeted) advertising or other targeted
              content.</p>
            <p>We do not control these third-parties&rsquo; tracking technologies or how they may be used. If you have
              any questions about an advertisement or other targeted content, you should contact the responsible
              provider directly. For information about how you can opt out of receiving targeted advertising or content
              from many providers, see <a href="https://system1.com/terms/privacy-policy#disclosureInfo"> Choices About
              How We Use and Disclose Your Information </a>.</p>
            <p><strong class="text-theme"> HOW WE USE YOUR INFORMATION </strong></p>
            <p>We use information that we collect about you or that you provide to us, including any personal
              information:</p>
            <ul>
              <li>To present our Services and its contents to you.</li>
            </ul>
            <ul>
              <li>To provide you with information, products, or services that you request from us.</li>
              <li>To fulfill any other purpose for which you provide it.</li>
              <li>To provide you with notices about your account, including expiration and renewal notices.</li>
              <li>To carry out our obligations and enforce our rights arising from any contracts&nbsp;entered into&nbsp;between
                you and us, including for billing and collection.
              </li>
              <li>To notify you about changes to our Services.</li>
            </ul>
            <ul>
              <li>To allow you to participate in interactive features on our Services.</li>
              <li>In any other way we may describe when you provide the information.</li>
              <li>For any other purpose with your consent.</li>
            </ul>
            <p>We may use the information we have collected from you to enable us to display advertisements to our
              advertisers&rsquo; target audiences. Even though we do not disclose your personal information for these
              purposes without your consent, if you click on or otherwise interact with an advertisement, the advertiser
              may assume that you meet its target or objective criteria.</p>
            <p class="text-theme"><strong> DISCLOSURE OF YOUR INFORMATION </strong></p>
            <p>We may disclose aggregated information about our users, and information that does not identify any
              individual, without restriction.</p>
            <p>We may disclose personal information that we&nbsp;collect&nbsp;or you provide as described in this
              Policy:</p>
            <ul>
              <li>To our subsidiaries and affiliates.</li>
              <li>To contractors, service providers, and other third-parties we use to support our business and deliver
                our Services.
              </li>
              <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization,
                dissolution, or other sale or transfer of some or all of our assets, whether as a going concern or as
                part of bankruptcy, liquidation, or similar proceeding, in which personal information of users held by
                us is among the assets transferred.
              </li>
            </ul>
            <ul>
              <li>To fulfill the purpose for which you provide it.</li>
              <li>For any other purpose disclosed by us when you provide the information.</li>
              <li>With your consent.</li>
            </ul>
            <p>We may also disclose your personal information:</p>
            <ul>
              <li>To comply with any court order, law, or legal process, including to respond to any government or
                regulatory request.
              </li>
            </ul>
            <ul>
              <li>If we believe disclosure is necessary or appropriate to protect our rights, property, or for our
                safety, and that of our customers, or others. This includes exchanging information with other companies
                and organizations for the purposes of fraud protection and credit risk reduction.
              </li>
              <li>Under certain circumstances, we may be required to disclose your personal information in response to
                valid requests by public, regulatory or governmental authorities, including to meet national security or
                law enforcement requirements.
              </li>
              <li>ChronStack&nbsp;Tester&rsquo;s accountability for data it receives pursuant to the EU-US Privacy
                Shield or the Swiss-US Privacy Shield and subsequent transfer of that data to third parties is detailed
                in the Privacy Shield Principles. In cases of onward transfer to third parties of data of EU or Swiss
                individuals received pursuant to the EU-US Privacy Shield or the Swiss-US Privacy Shield,&nbsp;ChronStack&nbsp;Tester&nbsp;is
                potentially liable. In particular,&nbsp;ChronStack&nbsp;Tester&nbsp;remains responsible and liable under
                the Privacy Shield Principles if third-party agents that it engages to process the personal data on its
                behalf do so in a manner inconsistent with the Privacy Shield Principles, unless&nbsp;ChronStack&nbsp;Tester&nbsp;proves
                that it is not responsible for the event giving rise to the damage. With regards to any human resources
                related data that may be transferred from the EU to the US in connection with or in the context of any
                employment relationship with a EU-based employee,&nbsp;ChronStack&nbsp;Tester&nbsp;is committed to
                co-operating with EU data protection authorities (or DPAs) in the relevant country regarding any such
                EU-based employee and comply with the advice provided by such DPAs in connection with the foregoing.
              </li>
            </ul>
            <p class="text-theme"><strong> CHOICES ABOUT HOW WE USE AND DISCLOSE YOUR INFORMATION </strong></p>
            <p>We strive to provide you with choices regarding the personal information you provide to us. We have
              created mechanisms to provide you with the following control over your personal information and similar
              data that we may collect and store:</p>
            <ul>
              <li>You can set your browser to refuse to accept all or some browser cookies, or to alert you when cookies
                are being set. If you disable or refuse cookies, please note that some parts of our Services (including
                certain websites and applications that you may access through our Services) may then be inaccessible or
                not function properly.&nbsp;
              </li>
              <li>ChronStack&nbsp;Tester&nbsp;acknowledges that EU and Swiss individuals have the right to access the
                personal information that we maintain about them. An EU or Swiss individuals who seeks access, or who
                seeks to correct, amend, or delete inaccurate data,
                should <a href="https://system1.com/terms/privacy-policy/privacy-inquiries"> contact&nbsp;
                ChronStack &nbsp;Tester </a>. If requested to remove data, we will respond within a reasonable
                timeframe.
              </li>
              <li>We will also provide an EU or Swiss individuals with opt-out or opt-in choice(s) before we share their
                data with third parties other than our agents, or before we use it for a purpose other than&nbsp;which
                it was originally collected or subsequently authorized.&nbsp;
              </li>
              <li>To limit the use and disclosure of your personal information, please submit a written
                request <a href="https://system1.com/terms/privacy-policy/privacy-inquiries"> here </a>.
              </li>
            </ul>
            <p class="text-theme"><strong> ACCESSING AND CORRECTING YOUR INFORMATION </strong></p>
            <p>We desire to keep you in control of the personal information you provide to us. Accordingly, you can
              review, correct, change, or remove the registration settings for the personal information that you provide
              to us and that we subsequently control. To choose not to receive future communications from us,
              please <a href="https://system1.com/contact"> Contact Us </a>.</p>
            <p>You may also <a href="https://system1.com/terms/privacy-policy/privacy-inquiries"> contact&nbsp;
              ChronStack </a>&nbsp;Tester to request access to, correct, or delete any personal information that you
              have provided to us. We may not accommodate a request to change information if we believe the change would
              violate any law or legal requirement or cause the information to be incorrect.</p>
            <p class="text-theme"><strong> DATA SECURITY </strong></p>
            <p>We have implemented security measures designed to secure your personal information from accidental loss
              and from unauthorized access, use, alteration, and disclosure.</p>
            <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we do
              our best to protect your personal information, we cannot guarantee the security of your personal
              information transmitted to (or collected by) our Services. Any transmission of personal information is at
              your own risk. We are not responsible for circumvention of any privacy settings or security measures
              contained on or implemented through the Services.</p>
            <p class="text-theme"><strong> DISPUTE RESOLUTIONS </strong></p>
            <p>In compliance with the Privacy Shield Principles,&nbsp;ChronStack&nbsp;Tester&nbsp;commits to resolve
              complaints about your privacy and our collection or use of your personal information. European Union or
              Swiss individuals with inquiries or complaints regarding this privacy policy should first contact&nbsp;ChronStack&nbsp;Tester<a href="https://system1.com/terms/privacy-policy/privacy-inquiries">
              here </a>.</p>
            <p>ChronStack&nbsp;Tester&nbsp;has further committed to refer unresolved privacy complaints under the
              Privacy Shield Principles to an independent dispute resolution mechanism, the BBB EU PRIVACY SHIELD,
              operated by the Council of Better Business Bureaus. If you do not receive timely acknowledgment of your
              complaint, or if your complaint is not satisfactorily addressed, please
              visit <a href="http://www.bbb.org/EU-privacy-shield/for-eu-consumers">
              http://www.bbb.org/EU-privacy-shield/for-eu-consumers </a> for more information and to file a complaint.
            </p>
            <p>Under certain conditions, more fully described on the Privacy Shield
              website <a href="https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint">
              https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint </a>, you may invoke binding
              arbitration when other dispute resolutions procedures have been exhausted.</p>
            <p class="text-theme"><strong> CHANGES TO OUR PRIVACY POLICY </strong></p>
            <p>It is our policy to post any changes we make to our Policy on this page. If we make material changes to
              how we treat our users&rsquo; personal information, we will let you know through a notice available in
              connection with your use of our Services after implementing such changes. The date the Policy was last
              revised is found at the top of the page. You are responsible for ensuring we have an up-to-date active and
              deliverable email address for you, and for periodically visiting this Policy to check for any changes.</p>
            <p>CONTACT INFORMATION</p>
            <p>To ask questions or comment about this Policy and our privacy practices, contact us at:&nbsp; <br/> Attn:
              Privacy Officer &nbsp; <br/> 626 Grant Street, #D &nbsp; <br/>Herndon, Virginia 20170</p>
            <p>&nbsp;</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
