<h1>Hello, <%= @user.full_name %>!</h1>

<% if @action == 'accept_invitation' %>
<p>Your account has been created successfully. Below are your credentials:</p>
<% elsif @action == 'reset_password' %>
  <p>Your password has been changed successfully. Below are your credentials:</p>
<% end %>
<ul>
  <li><strong>Email:</strong> <%= @user.email %></li>
  <li><strong>Password:</strong> <%= @user.password %></li>
</ul>

<p>We recommend changing your password as soon as you log in. You can log in at:</p>

<p><%= link_to 'Login', login_session_url %></p>

<p>If you have any questions, feel free to contact our support team.</p>

<p>Thank you,<br>Autonium Team</p>
