<h1>Welcome, <%= @user.full_name %>!</h1>

<p>You’ve been invited to join our platform. Click the link below to accept your invitation:</p>

<p><%= link_to 'Accept Invitation', @invitation_url %></p>

<p>If you did not expect this invitation, please ignore this email.</p>

<p>Thanks</p>
<p>Team Autonium</p>