<%
  breadcrumb = {'Home': root_url, 'Manage Projects' => projects_url, 'Project Roles' => project_roles_path(@project), "Edit Role" => '#' }
  btns = []
%>
<%= render partial: 'common/breadcrumb', locals: {heading: "#{@project.name}", breadcrumb: breadcrumb, action_btns: btns} %>
<section class="section min-vh-100">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="mt-3">
            <%= render partial: 'roles/form' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>