<%
  _tabs = []
  _tabs << {label: 'Basic Details', url: edit_environment_path(@environment), match: {controller: 'environments', action: 'edit'}, icon:"docs"}
  _tabs << {label: 'Login Details', url: login_details_environment_path(@environment), match: {controller: 'environments', action: 'login_details'},icon:"globe"}
  _tabs << {label: 'Git Branch', url: git_branch_details_environment_path(@environment), match: {controller: 'environments', action: 'git_branch_details'},icon:"globe"}
  _tabs << {label: 'Custom Commands', url: environment_custom_commands_path(@environment), match: {controller: 'custom_commands', action: 'index'},icon:"globe"}
%>
<ul class="nav nav-tabs mt-2">
  <% _tabs.each do |environment| %>
    <li class="nav-item">
      <%= link_to(environment[:url], class: "nav-link #{'active' if environment[:match] == {controller: params[:controller], action: params[:action]}}") do %>
        <i class="icon-<%= environment[:icon] %>"></i>
        <%= environment[:label] %>
      <% end %>
    </li>
  <% end %>
</ul>