<%
    breadcrumb = {'Home': root_url, 'Environments' => environments_url, 'Test Plans' => environment_test_plans_url(@environment), 'Flow State' => "#" }
    btn = [{name: 'Create Test Plan', url: new_environment_test_plan_path(@environment), class: 'btn btn-primary rounded-pill btn-sm float-right'}]
%>
<%= render partial: 'common/breadcrumb', locals: {heading: 'Test Plan Flow State', breadcrumb: breadcrumb, action_btns: btn} %>

<section class="section min-vh-100">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <%= render partial: 'test_plans/nav_tab' %>
        <div id="diagram-wrapper" style="width: 100%; overflow-x: auto; white-space: nowrap;">
          <div id="diagram-container" style="width: 1200px; height: 800px;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="module">
    //document.addEventListener("DOMContentLoaded", function() {
        let jsonData = <%= @test_plan_flows.to_json.html_safe %>;
        createGraphFromJson(jsonData);
    //});
</script>