<div class="pagetitle">
  <div class="row">
    <div class="col-6">
      <h1><%= heading %></h1>
      <nav>
        <ol class="breadcrumb">
          <% breadcrumb.each do |name, url| %>
            <li class="breadcrumb-item"><a href="<%= url %>"><%= name %></a></li>
          <% end %>
        </ol>
      </nav>
    </div>
    <div class="col-6 mt-3 text-end">
      <% action_btns.each do |btn| %>
        <%= link_to btn[:name], btn[:url], class: btn[:class] %>
    <% end %>
    </div>
  </div>
</div>