<% _type = {'errors' => 'danger', 'notice' => 'warning', 'info' => 'danger', 'success' => 'success'} %>
<% if local_assigns.has_key? :resource and resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<% else %>
  <% flash.each do |type, msg| %>
    <%# _type = _type.has_key?(type) ? _type.dig(type) : type %>
    <% flash_type =  _type.dig(type)  %>
    <% if flash_type %>
      <div class="alert alert-<%= flash_type %> alert-dismissible fade show mt-3" role="alert">
        <% if msg.is_a?(Array) %>
          <ul>
            <% msg.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% else %>
          <%= msg.html_safe %>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <% end %>
<% end %>